<style>
    div.doop {
        width: 50%;
        height: 100px;
        background-color: white;
        transition: background-color 2s;
        transition-delay: 1.5s;
        box-sizing: border-box;
        padding: 10px;
        color: black;
    }
    div:hover {
        background-color: black;
    }
    p.poop {
        color: white;
    }
</style>
 <style>
    div.can {
        width: 50%;
        height: 100px;
        background-color: white;
        transition: background-color 2s;
        transition-delay: 1.5s;
        box-sizing: border-box;
        padding: 10px;
    }
    div:hover {
        background-color: navy;
        color: black;
    }
    p.pan {
        color: white;
    }
</style>
